{"bot1": "SELL", "bot2": "BUY", "bot1_roll": 0, "bot2_roll": 0, "digits": 4, "qty_d": 7, "ticker": "ETHS", "money": "ETH", "BUY": {"margin_bottom": -0.005, "margin_top": 0.01, "step": 0.005, "freq": 30, "min_qty_dollar": 100, "max_qty_dollar": 10000, "init_trigger": 500, "max_sec_hold_order": 120}, "SELL": {"margin_bottom": -0.005, "margin_top": 0.01, "step": 0.005, "freq": 30, "min_qty_dollar": 100, "max_qty_dollar": 10000, "init_trigger": 500, "max_sec_hold_order": 120}}