{"bot1": "SELL", "bot2": "BUY", "bot1_roll": 1, "bot2_roll": 0, "digits": 4, "qty_d": 7, "ticker": "BTC", "money": "STB", "BUY": {"margin_bottom": -0.01, "margin_top": 0.03, "step": 0.005, "freq": 5, "min_qty_dollar": 1000, "max_qty_dollar": 10000, "init_trigger": 25000, "max_sec_hold_order": 120}, "SELL": {"margin_bottom": -0.01, "margin_top": 0.03, "step": 0.005, "freq": 5, "min_qty_dollar": 1000, "max_qty_dollar": 10000, "init_trigger": 25000, "max_sec_hold_order": 120}}