{"bot1": "BUY", "bot2": "SELL", "bot1_roll": 0, "bot2_roll": 1, "digits": 7, "qty_d": 7, "ticker": "ETH", "money": "STB", "BUY": {"margin_bottom": -0.01, "margin_top": 0.03, "step": 0.005, "freq": 10, "min_qty_dollar": 1000, "max_qty_dollar": 10000, "init_trigger": 50000, "max_sec_hold_order": 120}, "SELL": {"margin_bottom": -0.01, "margin_top": 0.03, "step": 0.005, "freq": 10, "min_qty_dollar": 1000, "max_qty_dollar": 10000, "init_trigger": 50000, "max_sec_hold_order": 120}}